<!DOCTYPE html>
<html>
  <head>
    <title>Flickr new</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <h1>Flickr</h1>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1 class="navbar-brand"></h1>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <% @photos.each do |photo| %>
          <li><%= link_to photo.title, photo_path(photo) %></li>
        <% end %>
        </ul>
      </div>
    </nav>
    
  </div>
    <%= yield %>
    
  </body>
</html>