<!DOCTYPE html>
<html>
  <head>
    <title>Flickr New</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
        <ul class="nav navbar-nav">
          <% @photos.each do |photo| %>
          <li><%= link_to photo.title, photo_path(photo) %></li> 
  
        <% end %> 
         </ul>
  <%= yield %>
    
  </body>
</html>